.blue {
  color: rgb(0, 102, 204);
}

.yellow {
  color: rgb(255, 211, 25);
}

.green {
  color: rgb(0, 138, 53);
}

.red {
  color: rgb(255, 0, 0);
}

.black {
  color: black;
}

.white {
  color: white;
}