@font-face {
		font-family: 'VectoraLTStd-Bold';
		src: url('fonts/vectoraltstd-bold.eot');
		src: url('fonts/vectoraltstd-bold.eot?#iefix') format('embedded-opentype'),
				 url('fonts/vectoraltstd-bold.woff') format('woff'),
				 url('fonts/vectoraltstd-bold.ttf') format('truetype'),
				 url('fonts/vectoraltstd-bold.svg#vectoraltstd-bold') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'VectoraLTStd-Light';
		src: url('fonts/vectoraltstd-light.eot');
		src: url('fonts/vectoraltstd-light.eot?#iefix') format('embedded-opentype'),
				 url('fonts/vectoraltstd-light.woff') format('woff'),
				 url('fonts/vectoraltstd-light.ttf') format('truetype'),
				 url('fonts/vectoraltstd-light.svg#vectoraltstd-light') format('svg');
		font-weight: normal;
		font-style: normal;
}