//**Abstract Class Photo: Base class to style photos in apps
%photo{
	display: inline-block;
	margin: $defaultGutter;
    width: $defaultPhotoSize;
	background: $defaultBackgroundColor;
    border: $solidBorder;

	&.rotate1Degree{
		@include transformRotate(1deg);
	}
	&.rotate2Degrees{
		@include transformRotate(2deg);
	}
	&.rotateMinus3Degrees{
		@include transformRotate(-3deg);
	}
	&.rotateMinus4Degrees{
		@include transformRotate(-4deg);
	}

	img {	
		width: $defaultPhotoSize;
		height: $defaultPhotoSize;
		background: black;
	}
	.caption {
		text-align: center;
		color: $defaultFontColor;
		font: {
			family: "Buxton Sketch";
			size: 24px;
			weight: bold;
		}
		padding: 10px;
	}
}