//**Body Variables
$bodyBackground: #008000;

//**Common Lengths
$defaultGutter: 15px;
$defaultPhotoSize: 230px;

//**Default Colors
$defaultFontColor: #333;
$defaultBackgroundColor: white;
$darkBackgroundColor: #000000;
$grey: grey;

//**Border Variables
$solidBorder: 1px solid black;
$polaroidBorderThickness: 2px;