$bodyBackground: #008000;

$defaultGutter: 15px;
$defaultPhotoSize: 230px;

$defaultFontColor: #333;
$defaultBackgroundColor: white;
$darkBackgroundColor: #000000;
$grey: grey;

$solidBorder: 1px solid black;
$poloroidBorderThickness: 2px;

@mixin transformRotate($degrees:2deg){
	transform: rotate($degrees);
	-webkit-transform: rotate($degrees);
}

@mixin lightenColor($attribute, $color){
	#{$attribute}: ($color + #333)
}

body {
	margin: $defaultGutter;
    background: $bodyBackground;
    position: relative;
    -ms-touch-action: auto;
}

%photo{
	display: inline-block;
	margin: $defaultGutter;
    width: $defaultPhotoSize;
	background: $defaultBackgroundColor;
    border: $solidBorder;

	&.rotate1Degree{
		@include transformRotate(1deg);
	}
	&.rotate2Degrees{
		@include transformRotate(2deg);
	}
	&.rotateMinus3Degrees{
		@include transformRotate(-3deg);
	}
	&.rotateMinus4Degrees{
		@include transformRotate(-4deg);
	}

	img {	
		width: $defaultPhotoSize;
		height: $defaultPhotoSize;
		background: black;
	}
	.caption {
		text-align: center;
		color: $defaultFontColor;
		font: {
			family: "Buxton Sketch";
			size: 24px;
			weight: bold;
		}
		padding: 10px;
	}
}

.instagram{
	@extend %photo;
	
	border: $defaultGutter solid black;
	@include lightenColor(background-color, $darkBackgroundColor);
	img{
		opacity: 0.4;
	}
	.caption{
		@include lightenColor(color, $defaultFontColor);
		padding: 0;
	}
}

.polaroid {
	@extend %photo;
	
    padding: $defaultGutter {
		bottom: 0;
	}
	img{
		$imgSize: $defaultPhotoSize - ($poloroidBorderThickness * 2);
		height: $imgSize;
		width: $imgSize;
		border: $poloroidBorderThickness inset $grey;
	}
}
