@{
    ViewBag.Title = "Welcome to FVNUG - Day of .Net";
}
<div class="instagram rotateMinus3Degrees">
    <img src="/images/001.jpg" alt=""/>
    <div class="caption">Picture 1</div>
</div>
<div class="polaroid rotate1Degree">
    <img src="/images/002.jpg" alt=""/>
    <div class="caption">Picture 2</div>
</div>
<div class="polaroid rotateMinus4Degrees">
    <img src="/images/003.jpg" alt=""/>
    <div class="caption">Picture 3</div>
</div>
<div class="instagram rotate2Degrees">
    <img src="/images/004.jpg" alt=""/>
    <div class="caption">Picture 4</div>
</div>
<div class="polaroid rotate2Degrees">
    <img src="/images/005.jpg" alt=""/>
    <div class="caption">Picture 5</div>
</div>
<div class="instagram rotateMinus4Degrees">
    <img src="/images/006.jpg" alt=""/>
    <div class="caption">Picture 6</div>
</div>
<div class="instagram rotate1Degree">
    <img src="/images/007.jpg" alt=""/>
    <div class="caption">Picture 7</div>
</div>
<div class="polaroid rotateMinus3Degrees">
    <img src="/images/008.jpg" alt=""/>
    <div class="caption">Picture 8</div>
</div>