@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="polaroid rotateMinus3Degrees">
        <img src="/images/logo.png" alt=""/>
        <div class="handwriting">Picture 1</div>
    </div>
    <div class="polaroid rotate1Degree">
        <img src="/images/logo.png" alt=""/>
        <div class="handwriting">Picture 2</div>
    </div>
    <div class="polaroid rotateMinus4Degrees">
        <img src="/images/logo.png" alt=""/>
        <div class="handwriting">Picture 3</div>
    </div>
    <div class="polaroid rotate2Degrees">
        <img src="/images/logo.png" alt=""/>
        <div class="handwriting">Picture 4</div>
    </div>
    <div class="polaroid rotate2Degrees">
        <img src="/images/logo.png" alt=""/>
        <div class="handwriting">Picture 5</div>
    </div>
    <div class="polaroid rotateMinus4Degrees">
        <img src="/images/logo.png" alt=""/>
        <div class="handwriting">Picture 6</div>
    </div>
    <div class="polaroid rotate1Degree">
        <img src="/images/logo.png" alt=""/>
        <div class="handwriting">Picture 7</div>
    </div>
    <div class="polaroid rotateMinus3Degrees">
        <img src="/images/logo.png" alt=""/>
        <div class="handwriting">Picture 8</div>
    </div>
</body>