body {
    background: #008000;
    overflow: hidden;
    position: relative;
    -ms-touch-action: auto;
}

.polaroid {
    display: inline-block;
    width:230px;
    padding: 15px;
    padding-bottom: 35px;
    background: white;
    border: 1px solid black;
    margin: 15px;
}

.r1{

    transform: rotate(1deg);
}

.r2{
    transform: rotate(2deg);
}

.r3{
    transform: rotate(-3deg);
}

.r4{
    transform: rotate(-4deg);
}

.polaroid img {
    width: 230px;
    height: 230px;
    background: black;
}
.polaroid .title {
    text-align: center;
    color: #333;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
