body {
  margin: 10px;
  background: green;
  overflow: hidden;
  position: relative;
  -ms-touch-action: auto; }

.polaroid {
  display: inline-block;
  width: 230px;
  background: white;
  border: 1px solid black;
  margin: 15px;
  padding: 15px;
    padding-bottom: 0px; }
  .polaroid.rotate1Degree {
    transform: rotate(1deg); }
  .polaroid.rotate2Degrees {
    transform: rotate(2deg); }
  .polaroid.rotateMinus3Degrees {
    transform: rotate(-3deg); }
  .polaroid.rotateMinus4Degrees {
    transform: rotate(-4deg); }
  .polaroid img {
    width: 230px;
    height: 230px;
    background: black; }
  .polaroid .handwriting {
    text-align: center;
    color: #333;
    font-family: "Buxton Sketch";
    font-size: 24px;
    font-weight: bold;
    padding: 10px; }

